@import 'modules/_colors';
@import 'modules/_fonts';
@import 'modules/_resets';
@import 'modules/_boxmodel.scss';
@import 'modules/_header.scss';


@import 'modules/_responsive.scss';

.jee-sidebar{
    min-width: 300px;
    max-width: 350px;
    background-color: lightsalmon;
    padding:0 10px;
}

.jee-content{
    padding-right:10px;
}